# Системные файлы
.DS_Store
Thumbs.db
desktop.ini

# Редакторы
.vscode/
.idea/
*.suo
*.user

# Временные файлы
*.log
*.tmp
*.bak
*.orig

# Node (на случай если появится сборка)
node_modules/
npm-debug.log*

# Дистрибутив (если появится сборка)
dist/
build/
